In [1]:
import pandas as pd
import numpy as np

In [8]:
# value = [[1,2,3,4,5],[1,3,5,3,7],[4,2,6,8,9],[5,4,3,5,4]]
df = pd.DataFrame(np.random.randn(5,5))

In [9]:
df

          0         1         2         3         4
0 -1.629069 -0.112964  0.892803  0.330544  1.619136
1 -0.278280 -0.198806  0.193871 -0.178526  0.162945
2 -2.153461  0.259565  0.655575  1.312748  0.148723
3  1.801729  0.497154  1.552600  0.886262 -1.234405
4 -1.245538 -0.657154 -0.329134 -0.261111 -1.024752

In [24]:
df['group'] = ['group1','group1','group2','group3','group2']
df

          0         1         2         3         4   group
0 -1.629069 -0.112964  0.892803  0.330544  1.619136  group1
1 -0.278280 -0.198806  0.193871 -0.178526  0.162945  group1
2 -2.153461  0.259565  0.655575  1.312748  0.148723  group2
3  1.801729  0.497154  1.552600  0.886262 -1.234405  group3
4 -1.245538 -0.657154 -0.329134 -0.261111 -1.024752  group2

In [13]:
df.groupby('group').size()

group
group1    2
group2    2
group3    1
dtype: int64

In [28]:
for i in df.groupby('group'):
#     print i[0]
    print type(i[1]),'\n'

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [20]:
pd.cut(df[0],3)

0    (-2.157, -0.835]
1     (-0.835, 0.483]
2    (-2.157, -0.835]
3      (0.483, 1.802]
4    (-2.157, -0.835]
Name: 0, dtype: category
Categories (3, object): [(-2.157, -0.835] < (-0.835, 0.483] < (0.483, 1.802]]

In [21]:
pd.qcut(df[0],3)

0    [-2.153, -1.501]
1     (-0.601, 1.802]
2    [-2.153, -1.501]
3     (-0.601, 1.802]
4    (-1.501, -0.601]
Name: 0, dtype: category
Categories (3, object): [[-2.153, -1.501] < (-1.501, -0.601] < (-0.601, 1.802]]